body {
  background-color: black;
  font-family: 'Press Start 2P';
}

main {
  width: 800px;
  height: 700px;
  background-image: url('../images/tetris.png');
  background-size: 106%;
  display: flex;
  flex-direction: column;
  margin: auto;

}

#header {
  width: 100%;
  background-color: black;
  height: 122px;
}

.tetris {
  width: 800px;
  height: 700px;
  display: flex;
}

#filler-left {
  width: 256px;
  height: 133px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

#myCanvas {
  margin-left: 56px;
  width: 250px;
  height: 500px;
  border: 1px solid blue;
  background-color: white;
}
