body {
  background-color: black;
  font-family: 'Press Start 2P';
}

main {
  width: 800px;
  height: 700px;
  background-image: url('../images/tetris.png');
  background-size: 106%;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  position: relative;

}

#header {
  width: 100%;
  background-color: black;
  height: 125px;
  display: flex;
  justify-content: center;
}

#header p {
  font-size: 32px;
  color: white;

}

.content {
  display: flex;
}

.tetris {
  width: 800px;
  height: 700px;
  display: flex;
}

#myCanvas {
  margin-left: 10px;
  width: 250px;
  height: 500px;
  border: 1px solid blue;
  background-color: white;
}

.start-game-modal {
  position: absolute;
  top: 19%;
  left: 42%;
  width: 200px;
  height: 125px;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.start-game-modal p {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  text-align: center;
}

.start-game-modal h4 {
  margin-top: 0;
}

.hidden-modal {
  height: 0;
  width: 0;
  z-index: 0;
  visibility: hidden;
}

.end-game-modal {
  position: absolute;
  top: 19%;
  left: 42%;
  width: 200px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  z-index: 50;
  background-color: white;
}

.end-game-modal p {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  text-align: center;
}

#game-over-message {
  font-size: 16px;
  color: red;
}

#score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score p {
  margin: 0;
  padding: 0;
  text-align: center;
}

#high-score {
  display: flex;
}

#score-value {
  height: 16px;
}

.left-col {
  background-color: white;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-border {
  width: 290px;
  height: 190px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.inner-border > div {
  margin-left: 10px;
}

#myCanvas2 {
  background-color: white;
  width: 150px;
  height: 75px;
  margin-left: 10px;
}

.scores {
  width: 100%;
}

.next-piece {
  display: flex;
}

.current-score {
  display: flex;
}

.next {
  display: flex;
  align-items: center;
}

.next p {
  margin: 0;
}

#footer {
  display: flex;
  justify-content: space-between;
}

.created-by {
  color: white;
}

.created-by p {
  margin: 0;
}

.links a {
  color: white;
}

.directions {
  background-color: black;
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  margin-left: 80px;
  margin-top: 150px;}
